body {
    background: #FFF6D5;
    font-family: 'Open Sans', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

*:focus {
    outline: none;
}

.loadingIcon {
    padding: 15%;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#home input {
    font-size: 1em;
    border-radius: 10px;
    padding: 3%;
    padding-right: 0%;
    border: 2px solid black;
    width: 75%;
}

input::placeholder {
    font-size: .9em;
    color: lightgray;
}

#selectDiv {
    display: flex;
}

.filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-size: .85em;
}

.filters label {
    margin-bottom: 2%;
    margin-left: 10%;
    align-self: flex-start;
}

#select {
    width: 90%;
    font-size: inherit;
}

#reviewList {
    padding-inline-start: 0px;
    margin-top: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.reviewLink {
    text-decoration: none;
    color: black;
}

.reviews {
    display: flex;
    align-items: center;
}

.reviews {
    background: #F4F6F7;
    border: solid black 2px;
    border-radius: 10px;
    margin-bottom: 4%;
    box-shadow: 0 4px 4px -2px black;
}

.reviews h4:first-child {
    width: 70%;
    padding-left: 2%;
    font-size: 1.05em;
} 

.reviews > h4:not(:first-child) {
    width: 30%;
    text-align: center;
    font-size: 1.4em;
    margin: 0%;
}

.buttered {
    color: #32CD32;
}

#movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#div1, #div2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#poster {
    width: 100%;
    max-width: 300px;
    border: 2px solid black;
}

#movie h2 {
    text-align: center;
    font-size: 1.3em;
}

.desktop {
    display: none;
}

#movieInfo {
    margin-top: 5%;
    width: 300px;
    border: solid black 2px;
    padding: 2%;
    background: #F4F6F7;
    box-shadow: 0 4px 4px -2px black;
}

#movieInfo, #movieInfo td {
    border: 2px solid black;
    border-collapse: collapse;
}

#movieInfo td {
    padding: 2%;
}

#movieInfo tr:nth-child(even) {
    background-color: #dddddd;
}

#movieReviews {
    margin: 0%;
    width: 90%;
    background: #F4F6F7;
    box-shadow: 0 4px 4px -2px black;
}

#movieReviews, #movieReviews td, #movieReviews th {
    border: 2px solid black;
    border-collapse: collapse;
}

#movieReviews th, #movieReviews td {
    text-align: center;
    width: 20%;
}

#movieReviews th {
    background-color: #dddddd;
}

#movieReviews td {
    font-size: 1.2em;
}

@media screen and (max-width: 350px) {
    #poster, #movieInfo {
        width: 90%;
    }
}

@media screen and (min-width: 600px) {
    body {
        display: flex;
        justify-content: center;
    }

    #poster {
        width: 260px;
    }

    #movieReviews {
        width: 310px;
    }
}